* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf0f3;
}

.search {
  margin: 0.2rem auto;
  width: 9.4667rem;
  height: 0.6667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search input {
  width: 8.1333rem;
  height: 100%;
  overflow: hidden;
  border: 0.0133rem solid transparent;
  border-radius: 0.1333rem;
  box-shadow: 0 0 0.1333rem 0.0667rem rgba(0, 0, 0, 0.1);
  line-height: normal;
  font-size: 0.35rem;
  text-indent: 0.7667rem;
  background: url("../images/caigou/search_icon.png") no-repeat 0.2rem center;
  background-size: auto 80%;
}

.search span {
  width: 1.3333rem;
  color: #087ffd;
  text-align: center;
  font-size: 0.35rem;
}

.list-box {
  width: 9.4667rem;
  margin: 0.3rem auto;
  background-color: transparent;
}

.list-box .item {
  background-color: white;
  width: 9.4667rem;
  height: 4.6667rem;
  margin: 0.3rem auto;
  border: 1px solid #087ffd;
  border-radius: 0.1333rem;
  box-shadow: 0 0 0 0.0133rem rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
}

.list-box .item .header {
  width: 100%;
  height: 1.3333rem;
  display: flex;
  align-items: center;
  position: relative;
}

.list-box .item .header span {
  background-color: #087ffd;
  color: white;
  position: absolute;
  height: 0.5rem;
  padding: 0 0.3rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: -0.15rem;
}

.list-box .item .header span::before {
  content: '';
  position: absolute;
  left: 0;
  top: -0.11rem;
  width: 0;
  height: 0;
  border-bottom: 0.11rem solid #0569d2;
  border-left: 0.15rem solid transparent;
}

.list-box .item .content {
  width: 100%;
  height: 2.2667rem;
  font-size: 0.35rem;
}

.list-box .item .content .req-item {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  margin-bottom: 0.2rem;
}

.list-box .item .content .req-item .le {
  color: #aaa;
}

.list-box .item .footer {
  align-items: center;
  display: flex;
  width: 100%;
  height: 1.0667rem;
  text-align: center;
  border-top: 0.0133rem solid transparent;
  font-size: 0.35rem;
}

.list-box .item .footer a {
  text-decoration: none;
  color: inherit;
}

.list-box .item .footer .btn {
  background-color: white;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7d7d7;
}

.list-box .item .footer .btn svg {
  height: 0.4rem;
}

.list-box .item .footer .btn .name {
  margin-left: 0.1rem;
}
