* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#footer {
  width: 100%;
  height: 1.34rem;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  /* 上边阴影 */
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.152);
}

#footer .item {
  /* border: 1px solid red; */
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer .item span {
  /* border: 1px solid red; */
  height: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .item span img {
  /* border: 1px solid red; */
  height: 80%;
}
#footer .item .name {
  /* border: 1px solid red; */
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 0.35rem;
}
